{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Complete definitive registration") %}
<div class="row justify-content-center">
  <div class="col">
    <p class="fs-5">{% trans "Finish a definitive registration." %}</p>
    <p class="fs-6 fw-light">{% trans "Redirect to the index page after 3 seconds." %}</p>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script>
  // redirect process
  (function(){
    setTimeout(() => {
      window.location.href = "{% url 'utils:index' %}";
    }, 3 * 1000);
  })();
</script>
{% endblock %}