{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Conducted provisional registration") %}
<div class="row justify-content-center">
  <div class="col">
    <p class="fs-5">{% trans "Send message to your e-mail address to conduct a definitive registration." %}</p>
    <p class="fs-5 text-danger">{{ warning_message|stringformat:'s' }}</p>
    <p class="fs-6 fw-light">{% trans "Redirect to the index page after 10 seconds." %}</p>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script>
  // redirect process
  (function(){
    setTimeout(() => {
      window.location.href = "{% url 'utils:index' %}";
    }, 10 * 1000);
  })();
</script>
{% endblock %}