{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Login") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="card">
      <div class="card-body row row-cols-1 g-3">
        <form class="col" action="{% url 'account:login' %}" method="POST" id="login-form">
          {% csrf_token %}

          {{ form }}

          <div class="mt-2 row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <button
                type="submit"
                class="btn btn-primary w-100 custom-boxshadow"
              >
                {% trans "Login" %}
              </button>
            </div>
            <div class="col">
              <a
                href="{% url 'utils:index' %}"
                class="btn btn-secondary w-100 custom-boxshadow"
              >
                {% trans "Cancel" %}
              </a>
            </div>
          </div>
          {# Login by passkey #}
          <div class="mt-2">
            <button
              id="passkey-login"
              type="button"
              class="btn btn-dark w-100 custom-boxshadow"
            >
              <i class="fa-solid fa-key"></i> &nbsp; {% trans "Login by passkeys" %}
            </button>
          </div>
        </form>
        <div class="col">
          <a
            href="{% url 'account:reset_password' %}"
            class="btn btn-success w-100 custom-boxshadow"
          >
            {% trans "Forget own password" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script type="application/javascript" src="{% static 'js/passkey-helpers.js' %}"></script>
<script>
(function () {
  // Add DOM event
  document.addEventListener('DOMContentLoaded', () => {
    const passkeyBtn = document.querySelector('#passkey-login');
    const authURL = '{% url "passkey:begin_passkey_auth" %}';
    const formElement = document.querySelector('#login-form');
    const passkeyElem = document.querySelector('#passkeys');
    const callback = (err) => console.error(err);
    // Initialize passkey library
    Passkey.Init();
    // Check conditional ui
    Passkey.CheckConditionalUI((isAvailable, err) => {
      if (isAvailable) {
        Passkey.Authentication(authURL, formElement, passkeyElem, true, callback);
      }
      else {
        console.error(err);
      }
    });
    // Add event
    passkeyBtn.addEventListener('click', () => {
      Passkey.Authentication(authURL, formElement, passkeyElem, false, callback);
    });
  });
})();
</script>
{% endblock %}