<div class="row">
  <div class="col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
      {% for item in view.resolve_crumbles %}
        {% if forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
        {% else %}
        <li class="breadcrumb-item">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
            {{ item.title }}
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
      </ol>
    </nav>
  </div>
</div>