{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Index") %}
<div class="row justify-content-center">
  <div class="col">
    {% if not user.is_authenticated %}
    <p>{% trans "Please login from side-bar link or create new account." %}</p>
    {% else %}
    <div class="row row-cols-1 g-2">
      {# Quiz rooms #}
      <div class="col">
        <a href="{% url 'quiz:room_list' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-header">{% trans "Allowed all users" %}</div>
            <div class="card-body">
              <p class="card-title h3">{% trans "Quiz room" %}</p>
              <p class="card-text">{% trans "Check/Create/Update/Delete quiz room." %}</p>
            </div>
          </div>
        </a>
      </div>
      {% if user.has_creator_role %}
      {# Quizzes #}
      <div class="col">
        <a href="{% url 'quiz:quiz_list' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-header">{% trans "Create or manager only" %}</div>
            <div class="card-body">
              <p class="card-title h3">{% trans "Quiz" %}</p>
              <p class="card-text">{% trans "Check/Create/Update/Delete quizzes." %}</p>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% if user.has_manager_role %}
      {# Creators #}
      <div class="col">
        <a href="{% url 'account:download_creator' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-header">{% trans "Manager only" %}</div>
            <div class="card-body">
              <p class="card-title h3">{% trans "Download creator" %}</p>
              <p class="card-text">{% trans "Download creator list." %}</p>
            </div>
          </div>
        </a>
      </div>
      {# Quiz genres #}
      <div class="col">
        <a href="{% url 'quiz:genre_list' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-header">{% trans "Manager only" %}</div>
            <div class="card-body">
              <p class="card-title h3">{% trans "Quiz genre" %}</p>
              <p class="card-text">{% trans "Check/Create/Update quiz genres." %}</p>
            </div>
          </div>
        </a>
      </div>
      {# Role change requests #}
      <div class="col">
        <a href="{% url 'account:role_change_requests' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-header">{% trans "Manager only" %}</div>
            <div class="card-body">
              <p class="card-title h3">{% trans "Role change request" %}</p>
              <p class="card-text">{% trans "Check/update role change requests." %}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">{% trans "Manager only" %}</div>
          <div class="card-body">
            <p class="card-title">
              <div class="d-flex flex-row">
                <span class="h3">{% trans "Today&apos;s hash value" %}</span>
                <a
                  id="copy-hash-value"
                  tabindex="0"
                  role="button"
                  class="btn btn-outline-primary px-1 py-0 mx-3 my-1 custom-boxshadow position-absolute end-0"
                  data-bs-toggle="popover"
                  data-bs-trigger="focus"
                  data-bs-placement="bottom"
                  data-bs-content="{% trans 'Copied!' %}"
                >
                  <i class="fas fa-copy fa-sm"></i>
                </a>
              </div>
            </p>
            <p class="card-text" id="hash-value">{{ hash_value|safe }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block bodyjs %}
{% if user.has_manager_role %}
{{ block.super }}
<script>
(function () {
  const init = () => {
    const helper = new HelperMethods();
    const btn = document.querySelector('#copy-hash-value');
    const popover = helper.addPopoverEvent(btn);
    // Add click event
    btn.addEventListener('click', (event) => {
      const element = document.querySelector('#hash-value');
      helper.copyToClipboard(element);
      popover.show();
    }, false);
  };
  // Add DOM event
  document.addEventListener('DOMContentLoaded', init);
})();
</script>
{% endif %}
{% endblock %}