SERVERURL=example.com
SERVERPORT=51820
PEERS=PublicServer
PEERDNS=8.8.8.8,10.0.11.1
INTERNAL_SUBNET=10.0.11.0/24
MTU=1380
KEEP_ALIVE=25
ALLOWEDIPS=10.0.11.0/24
SERVER_ALLOWEDIPS_PEER_PublicServer=10.100.0.0/24