{% extends 'base.html' %}
{% load i18n %}

{% block header %}
{% include form.dual_listbox_template_name %}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Quiz list") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="row row-cols-1 g-2">
      {% if user.is_creator %}
      <div class="col">
        <a
          href="{% url 'quiz:create_quiz' %}"
          class="btn btn-primary w-100 custom-boxshadow"
        >
          {% trans "Create a new quiz (creator only)" %}
        </a>
      </div>
      {% endif %}
      <div class="col">
        <button
          type="button"
          id="quiz-search"
          class="btn btn-success w-100 custom-boxshadow"
          data-bs-toggle="modal"
          data-bs-target="#quiz-search-modal"
        >
          {% trans "Search quiz (Shift + f)" %}
        </button>
      </div>
      {% if quizzes %}
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{% trans "Creator" %}</th>
                <th scope="col">{% trans "Genre" %}</th>
                <th scope="col">{% trans "Question" %}</th>
                <th scope="col">{% trans "Answer" %}</th>
                <th colspan="2">{% trans "Operation" %}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for instance in quizzes %}
              <tr>
                {% with table_css=instance.is_completed|yesno:',table-secondary' %}
                <td scope="row" class="{{ table_css }}">{{ instance.creator|stringformat:"s" }}</td>
                <td class="{{ table_css }}">{{ instance.genre|stringformat:"s" }}</td>
                <td class="{{ table_css }}">{{ instance.get_short_question }}</td>
                <td class="{{ table_css }}">{{ instance.get_short_answer }}</td>
                {% endwith %}
                <td>
                  <a
                    href="{% url 'quiz:update_quiz' pk=instance.pk %}"
                    class="btn btn-outline-success w-100 custom-boxshadow text-nowrap"
                  >
                    {% trans "Edit" %}
                  </a>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-danger w-100 custom-boxshadow text-nowrap js-delete-quiz"
                    data-name="{{ instance|stringformat:'s' }}"
                    data-url="{% url 'quiz:delete_quiz' pk=instance.pk %}"
                  >
                    {% trans "Delete" %}
                  </button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
      {% include "renderer/custom_pagenate.html" with page_obj=page_obj %}
      </div>
      {% else %}
      <div class="col">
        <p>{% trans "There is no quizzes." %}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal" id="quiz-search-modal" tabindex="-1" aria-labelledby="quiz-search-label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="quiz-search-label">{% trans "Filtering quizzes" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{% trans "Select genres or creators" %}</p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'quiz:quiz_list' %}" id="quiz-search-form" class="w-100">
          {% csrf_token %}

          {{ form }}

          <div class="mt-1 row g-2">
            <div class="col-12 col-md-6">
              <button type="submit" class="btn btn-primary w-100 custom-boxshadow">
                {% trans "Search (Enter)" %}
              </button>
            </div>
            <div class="col-12 col-md-6">
              <button type="button" class="btn btn-secondary w-100 custom-boxshadow" data-bs-dismiss="modal">
                {% trans "Cancel" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{# Delete modal #}
{% include "delete_modal_form.html" with modal_id="delete-modal" form_id="delete-form" %}
{% endblock %}

{% block bodyjs %}
{{ block.super }}
<script>
(function () {
  const init = () => {
    const helper = new HelperMethods();
    helper.registerDeleteModalEvent({
      btnClass: 'js-delete-quiz',
      formID: 'delete-form',
      modalID: 'delete-modal',
    });
    (() => {
      const element = document.querySelector('#genreList');
      const availableTitle = element.dataset.available;
      const selectedTitle = element.dataset.selected;
      const options = '{{ form.get_genre_options|safe }}';
      helper.initDualListbox(element, availableTitle, selectedTitle, options);
    })();
    {% if user.has_manager_role %}
    (() => {
      const element = document.querySelector('#creatorList');
      const availableTitle = element.dataset.available;
      const selectedTitle = element.dataset.selected;
      const options = '{{ form.get_creator_options|safe }}';
      helper.initDualListbox(element, availableTitle, selectedTitle, options);
    })();
    {% endif %}
    // Add key event
    const searchButton = document.querySelector('#quiz-search');
    const searchForm = document.querySelector('#quiz-search-form');
    document.addEventListener('keyup', (event) => {
      if (event.key === 'F') {
        /* F := Sfhit + f */
        searchButton.click();
      }
      else if (event.key === 'Enter') {
        form.submit();
      }
    });
    {% if form.errors %}
    searchButton.click();
    {% endif %}
  };
  // Add DOM event
  document.addEventListener('DOMContentLoaded', init);
})();
</script>
{% endblock %}