{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Quiz room list") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="row row-cols-1 g-2">
      {% if user.is_player %}
      <div class="col">
        <a
          href="{% url 'quiz:create_room' %}"
          class="btn btn-primary w-100 custom-boxshadow"
        >
          {% trans "Create a new quiz room (player only)" %}
        </a>
      </div>
      {% endif %}
      <div class="col">
        <button
          type="button"
          id="room-search"
          class="btn btn-success w-100 custom-boxshadow"
          data-bs-toggle="modal"
          data-bs-target="#room-search-modal"
        >
          {% trans "Search room (Shift + f)" %}
        </button>
      </div>
      {% if rooms %}
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{% trans "Room name" %}</th>
                <th scope="col">{% trans "#Members" %}</th>
                <th scope="col">{% trans "Genre" %}</th>
                <th scope="col">{% trans "Creators" %}</th>
                <th colspan="2">{% trans "Operation" %}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for instance in rooms %}
              <tr class="align-middle">
                {% with table_css=instance.is_enabled|yesno:',table-secondary' %}
                <td scope="row" class="{{ table_css }}">
                  {% if user.is_player %}
                  <a href="{% url 'quiz:enter_room' pk=instance.pk %}">{{ instance.name }}({{ instance.owner|stringformat:"s" }})</a>
                  {% else %}
                  {{ instance.name }}({{ instance.owner|stringformat:"s" }})
                  {% endif %}
                </td>
                <td class="{{ table_css }}">{{ instance.members.all.count }}</td>
                <td class="{{ table_css }}">{{ instance.get_genres }}</td>
                <td class="{{ table_css }}">{{ instance.get_creators }}</td>
                {% endwith %}
                <td>
                  {% if instance|can_update:user %}
                  <a
                    href="{% url 'quiz:update_room' pk=instance.pk %}"
                    class="btn btn-outline-success w-100 custom-boxshadow text-nowrap"
                  >
                    {% trans "Edit" %}
                  </a>
                  {% else %}
                  <button
                    type="button"
                    class="btn btn-outline-success w-100 custom-boxshadow text-nowrap"
                    disabled
                  >
                    {% trans "Edit" %}
                  </button>
                  {% endif %}
                </td>
                <td>
                  {% if instance|can_delete:user %}
                  <button
                    type="button"
                    class="btn btn-outline-danger w-100 custom-boxshadow text-nowrap js-delete-room"
                    data-name="{{ instance.name }}"
                    data-url="{% url 'quiz:delete_room' pk=instance.pk %}"
                  >
                    {% trans "Delete" %}
                  </button>
                  {% else %}
                  <button
                    type="button"
                    class="btn btn-outline-danger w-100 custom-boxshadow text-nowrap"
                    data-name="{{ instance.name }}"
                    data-url="#"
                    disabled
                  >
                    {% trans "Delete" %}
                  </button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
      {% include "renderer/custom_pagenate.html" with page_obj=page_obj %}
      </div>
      {% else %}
      <div class="col">
        <p>{% trans "There is no quiz rooms." %}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal" id="room-search-modal" tabindex="-1" aria-labelledby="room-search-label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="room-search-label">{% trans "Filtering rooms" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{% trans "Enter the room name (partial match search possible)" %}</p>
      </div>
      <div class="modal-footer">
        <form method="GET" action="{% url 'quiz:room_list' %}" id="room-search-form" class="w-100">

          {{ form }}

          <div class="mt-1 row g-2">
            <div class="col-12 col-md-6">
              <button type="submit" class="btn btn-primary w-100 custom-boxshadow">
                {% trans "Search (Enter)" %}
              </button>
            </div>
            <div class="col-12 col-md-6">
              <button type="button" class="btn btn-secondary w-100 custom-boxshadow" data-bs-dismiss="modal">
                {% trans "Cancel" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{# Delete modal #}
{% include "delete_modal_form.html" with modal_id="delete-modal" form_id="delete-form" %}
{% endblock %}

{% block bodyjs %}
{{ block.super }}
<script>
(function () {
  const init = () => {
    const helper = new HelperMethods();
    helper.registerDeleteModalEvent({
      btnClass: 'js-delete-room',
      formID: 'delete-form',
      modalID: 'delete-modal',
    });
    // Add key event
    const searchButton = document.querySelector('#room-search');
    const searchForm = document.querySelector('#room-search-form');
    document.addEventListener('keyup', (event) => {
      if (event.key === 'F') {
        /* F := Sfhit + f */
        searchButton.click();
      }
      else if (event.key === 'Enter') {
        form.submit();
      }
    });
    {% if form.errors %}
    searchButton.click();
    {% endif %}
  };
  // Add DOM event
  document.addEventListener('DOMContentLoaded', init);
})();
</script>
{% endblock %}