{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Password was reset") %}
<div class="row justify-content-center">
  <div class="col">
    <p class="fs-5">{% trans "Your password was reset. Please login with new password." %}</p>
    <p>
      <a href="{% url 'account:login' %}" class="btn btn-primary w-100 custom-boxshadow">
      {% trans "Go to login page" %}
    </a>
    </p>
    <p class="fs-6 fw-light">{% trans "Redirect to the login page after 5 seconds." %}</p>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script>
  // redirect process
  (function(){
    setTimeout(() => {
      window.location.href = "{% url 'account:login' %}";
    }, 5 * 1000);
  })();
</script>
{% endblock %}