{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h2>{% trans "Confirm password reset" %}</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <form method="POST" id="reset-password-form">
      {% csrf_token %}

      {{ form }}

      {# Send or cancel #}
      <div class="mt-1 row w-100">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary w-100 custom-boxshadow"
          >
            {% trans "Send" %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
{% endblock %}