{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Password was updated") %}
<div class="row justify-content-center">
  <div class="col">
    <p class="fs-5">{% trans "Your password was updated." %}</p>
    <p>
      <a href="{% url 'utils:index' %}" class="btn btn-primary w-100 custom-boxshadow">
        {% trans "Go to index page" %}
      </a>
    </p>
    <p class="fs-6 fw-light">{% trans "Redirect to the index page after 5 seconds." %}</p>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script>
  // redirect process
  (function(){
    setTimeout(() => {
      window.location.href = "{% url 'utils:index' %}";
    }, 5 * 1000);
  })();
</script>
{% endblock %}