DJANGO_EXECUTABLE_TYPE=development
DJANGO_ALLOWED_HOSTS=www.example.com,localhost
DJANGO_SECRET_KEY=django-secret-key
DJANGO_TRUSTED_ORIGINS=https://www.example.com,http://localhost,https://localhost:8443
DJANGO_LANGUAGE_CODE=en
DJANGO_HASH_SALT=send-salt
DJANGO_EMAIL_ADDRESS=hogehoge@gmail.com
DJANGO_APPLICATION_PASSWORD=app-password-with-16-digit