DJANGO_SECRET_KEY=django-secret-key
DJANGO_TRUSTED_ORIGINS=https://example.com,https://localhost:8001
DJANGO_LANGUAGE_CODE=en
DJANGO_SUPERUSER_EMAIL=superuser@example.com
DJANGO_SUPERUSER_PASSWORD=superuser-password