{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Update user profile") %}
<div class="row justify-content-center">
  <div class="col">
    <form method="POST" id="user-profile-form">
      {% csrf_token %}

      {{ form }}

      {# Update or cancel #}
      <div class="mt-1 row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary w-100 custom-boxshadow"
          >
            {% trans "Update" %}
          </button>
        </div>
        <div class="col">
          <a
            href="{% url 'account:user_profile' pk=user.pk %}"
            class="btn btn-secondary w-100 custom-boxshadow">
            {% trans "Cancel" %}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
{% endblock %}