{% load i18n %}

<div class="row row-cols-1 g-2">
  {% if form.non_field_errors %}
  <div class="col text-danger">
    <p class="h5">{% trans "Errors" %}</p>
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  {% for field in form %}
  {% if not field.is_hidden %}
  <div class="col">
    <div class="row row-cols-1 g-2">
      {% if field.label %}
      <div class="col">
        <label class="form-label fw-bold text-decoration-underline"{% if field.id_for_label %} for="{{ field.id_for_label }}"{% endif %}>{{ field.label }}</label>
      </div>
      {% endif %}
      <div class="col">{{ field }}</div>
      {% if field.errors %}
      <div class="col text-danger fs-6">
        {{ field.errors }}
      </div>
      {% endif %}
      {% if field.help_text %}
      <div class="col helptext text-light-emphasis"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>
        {{ field.help_text|safe }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if forloop.last and hidden_fields %}
  <div class="col">{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
  {% endif %}
  {% endfor %}
</div>